<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>windDirection</key>
	<dict>
		<key>0</key>
		<array>
			<string>无持续风向</string>
			<string>No wind</string>
		</array>
		<key>1</key>
		<array>
			<string>东北风</string>
			<string>Northeast</string>
		</array>
		<key>2</key>
		<array>
			<string>东风</string>
			<string>East</string>
		</array>
		<key>3</key>
		<array>
			<string>东南风</string>
			<string>Southeast</string>
		</array>
		<key>4</key>
		<array>
			<string>南风</string>
			<string>South</string>
		</array>
		<key>5</key>
		<array>
			<string>西南风</string>
			<string>Southwest</string>
		</array>
		<key>6</key>
		<array>
			<string>西风</string>
			<string>West</string>
		</array>
		<key>7</key>
		<array>
			<string>西北风</string>
			<string>Northwest</string>
		</array>
		<key>8</key>
		<array>
			<string>北风</string>
			<string>North</string>
		</array>
		<key>9</key>
		<array>
			<string>旋转风</string>
			<string>Whirl wind</string>
		</array>
	</dict>
	<key>windPower</key>
	<dict>
		<key>0</key>
		<array>
			<string>微风</string>
			<string>&lt;10m/h</string>
		</array>
		<key>1</key>
		<array>
			<string>3-4级</string>
			<string>10~17m/h</string>
		</array>
		<key>2</key>
		<array>
			<string>4-5级</string>
			<string>17~25m/h</string>
		</array>
		<key>3</key>
		<array>
			<string>5-6级</string>
			<string>25~34m/h</string>
		</array>
		<key>4</key>
		<array>
			<string>6-7级</string>
			<string>34~43m/h</string>
		</array>
		<key>5</key>
		<array>
			<string>7-8级</string>
			<string>43-54m/h</string>
		</array>
		<key>6</key>
		<array>
			<string>8-9级</string>
			<string>54~65m/h</string>
		</array>
		<key>7</key>
		<array>
			<string>9-10级</string>
			<string>65~77m/h</string>
		</array>
		<key>8</key>
		<array>
			<string>10-11级</string>
			<string>77~89m/h</string>
		</array>
		<key>9</key>
		<array>
			<string>11-12级</string>
			<string>89~102m/h</string>
		</array>
	</dict>
</dict>
</plist>
