<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>00</key>
	<array>
		<string>晴</string>
		<string>Sunny</string>
	</array>
	<key>01</key>
	<array>
		<string>多云</string>
		<string>Cloudy</string>
	</array>
	<key>02</key>
	<array>
		<string>阴</string>
		<string>Overcast</string>
	</array>
	<key>03</key>
	<array>
		<string>阵雨</string>
		<string>Shower</string>
	</array>
	<key>04</key>
	<array>
		<string>雷阵雨</string>
		<string>Thundershower</string>
	</array>
	<key>05</key>
	<array>
		<string>雷阵雨伴有冰雹</string>
		<string>hundershower with hail</string>
	</array>
	<key>06</key>
	<array>
		<string>雨夹雪</string>
		<string>Sleet</string>
	</array>
	<key>07</key>
	<array>
		<string>小雨</string>
		<string>Light rain</string>
	</array>
	<key>08</key>
	<array>
		<string>中雨</string>
		<string>Moderate rain</string>
	</array>
	<key>09</key>
	<array>
		<string>大雨</string>
		<string>Heavy rain</string>
	</array>
	<key>10</key>
	<array>
		<string>暴雨</string>
		<string>Storm</string>
	</array>
	<key>11</key>
	<array>
		<string>大暴雨</string>
		<string>Heavy storm</string>
	</array>
	<key>12</key>
	<array>
		<string>特大暴雨</string>
		<string>Severe storm</string>
	</array>
	<key>13</key>
	<array>
		<string>阵雪</string>
		<string>Snow flurry</string>
	</array>
	<key>14</key>
	<array>
		<string>小雪</string>
		<string>Light snow</string>
	</array>
	<key>15</key>
	<array>
		<string>中雪</string>
		<string>Moderate snow</string>
	</array>
	<key>16</key>
	<array>
		<string>大雪</string>
		<string>Heavy snow</string>
	</array>
	<key>17</key>
	<array>
		<string>暴雪</string>
		<string>Snowstorm</string>
	</array>
	<key>18</key>
	<array>
		<string>雾</string>
		<string>Foggy</string>
	</array>
	<key>19</key>
	<array>
		<string>冻雨</string>
		<string>Ice rain</string>
	</array>
	<key>20</key>
	<array>
		<string>沙尘暴</string>
		<string>Duststorm</string>
	</array>
	<key>21</key>
	<array>
		<string>小到中雨</string>
		<string>Light to moderate rain</string>
	</array>
	<key>22</key>
	<array>
		<string>中到大雨</string>
		<string>Moderate to heavy rain</string>
	</array>
	<key>23</key>
	<array>
		<string>大到暴雨</string>
		<string>Heavy rain to storm</string>
	</array>
	<key>24</key>
	<array>
		<string>暴雨到大暴雨</string>
		<string>Storm to heavy storm</string>
	</array>
	<key>25</key>
	<array>
		<string>大暴雨到特大暴雨</string>
		<string>Heavy to severe storm</string>
	</array>
	<key>26</key>
	<array>
		<string>小到中雪</string>
		<string>Light to moderatesnow</string>
	</array>
	<key>27</key>
	<array>
		<string>中到大雪</string>
		<string>Moderate to heavy snow</string>
	</array>
	<key>28</key>
	<array>
		<string>大到暴雪</string>
		<string>Heavy snow to snowstorm</string>
	</array>
	<key>29</key>
	<array>
		<string>浮尘</string>
		<string>Dust</string>
	</array>
	<key>30</key>
	<array>
		<string>扬沙</string>
		<string>Sand</string>
	</array>
	<key>31</key>
	<array>
		<string>强沙尘暴</string>
		<string>Sandstorm</string>
	</array>
	<key>53</key>
	<array>
		<string>霾</string>
		<string>Haze</string>
	</array>
	<key>99</key>
	<array>
		<string>无</string>
		<string>Unknown</string>
	</array>
</dict>
</plist>
